/* 辅助色 */
$successColor := #4CAF50;
$tipsColor := #2196F3;
$warningColor := #FFC107;
$errorColor := #F44336;

/* 中性色 由深到浅 */
// 主要信息
$neutralColorLevel1 := #212121;
$neutralColorLevel2 := #424242;
$neutralColorLevel3 := #616161;
$neutralColorLevel4 := #757575;
$neutralColorLevel5 := #9E9E9E;
// 用于提示信息
$neutralColorLevel6 := #BDBDBD;
$neutralColorLevel7 := #E0E0E0;
$neutralColorLevel8 := #EEEEEE;
// 底色or分割线
$neutralColorLevel9 := #F5F5F5;
$neutralColorLevel10 := #FAFAFA;
$neutralColorLevel11 := #FFFFFF;
